body {
    margin: 0;
    padding: 0;
}
.calendar {
    width: 400px;
    height: 800px;
    background-color: rgb(31, 31, 31);
    padding: 20px;
    color: #DDD;
    font-size: 25px;
    display: none;
    animation: fadein 2s;
}

.show {
    display: block;
}

.calendar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

}

.btn-container {
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-container > button {
    border: none;
    background: none;
    color: #DDD;
    font-size: 25px;;
}

.calendar-table {
    margin-top: 20px;
    color: #DDD;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

.calendar-table > tr > td {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(31, 31, 31);;

}

.calendar-table > tr > td:hover {
    border: 1px solid white;
}

.time-container {
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.time-text {
    font-size: 40px;
}

.selected {
    border: 1px solid rgb(66, 156, 227) !important;
}

.data-info-container {
    font-size: 16px;
    color: rgb(66, 156, 227);
}

.gray {
    color: gray;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}